<form action="/create" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Enter the name of your new recipe: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="name">Enter a description of your new recipe: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div class="form-example">
    <label for="name">Enter number of star: </label>
    <input type="number" name="star" id="star" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Subscribe!">
  </div>
</form>
